.btn.btn-rewishlist {
  margin: 20px;
  border: solid 2px #FF8800;
  border-radius: 8px;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0px;

  font-size: 18px;
  /* font-size: 1.5rem; */
  /* width: 300px; */
  font-family: Helvetica, Arial, sans-serif;
  /* line-height: 55px; */
  background: white;
}

.btn.btn-rewishlist .btn-rewishlist-discount-block {
  color: #FF8800;
  width: 60px;
  margin: 0;
}
.btn.btn-rewishlist .btn-rewishlist-discount {
  font-weight: 300;
}

.btn.btn-rewishlist .btn-rewishlist-text-block {
  flex-grow: 3;
  padding: 0 16px;
  margin: auto;
  background: #FF8800;
  color: white;
  height: 42px;
  display: flex;
  align-items: center;

}
.btn.btn-rewishlist .btn-rewishlist-text {
  font-weight: bold;
}
.btn.btn-rewishlist .btn-rewishlist-brand {
  font-family: 'Luckiest Guy', cursive;
  font-weight: normal;
}

.rewishlist-popup-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  width: 100%;

  display: none;
  background: rgba(0,0,0,0.7);
}

.rewishlist-popup-window {

  background: white;
  position: relative;

  top: 100px;
  margin: auto 100px;

  min-width: 550px;
  box-shadow: 0 0 1.6rem 0.4rem rgba(0,0,0,.08);

  padding: 50px;

  font-size: 24px;
  line-height: 3rem;
}

.rewishlist-popup-title {
  font-weight: bold;
  font-size: 32px;
  margin: 30px 0;
}
